/*********Font Families********
font-family: 'Comfortaa', cursive;
font-family: 'Kavivanar', cursive;
font-family: 'Montserrat', sans-serif;
/
/**********BASE STYLES********/
body{
  font-family: 'Montserrat', sans-serif;
  background-color:#84b59f;
  font-size:16px;
}

/********GRID************/

.content-wrapper{
  width:100%;
  max-width:1200px;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
}

.hero-area{
  width: 100%;
  /*min-height:550px;*/
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;

}


hr{
  border: 3px solid #DDD8C4;
}

/********HEADER**********/
header{
  /*height:75px;*/
  background-color: #50808e;
  /**background-size:cover;**/
}
.header-right{
  width:50%;
  display:flex;
  justify-content: flex-end;
}

.header-left{
  width:50%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.header-left h1{
  padding:0 0 0 20px;
}
nav{
  font-size:1.325em;
  color:#84b59f;
}

nav ul li{
  display: inline-block;
  padding: 10px;
  color:#84b59f;
}

header h2{
  font-family: 'Kavivanar', cursive;
  font-size: 6em;
  color:#000000;
  text-align: center;
}

header h1{
  font-family: 'Kavivanar', cursive;
  font-size: 1.825em;
  color:#000000;
}
/********WORK***********/


.websites{
  width:33%;
}

.services{
  width:100%;
  dispaly:flex;
  justify-content: center;
  align-items: center;
}

.services-section{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
  background:#50808e;
  padding:5px;
}

.website-section{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
}

.website-display{
  display:flex;
  justify-content: center;
  align-items: center;
}

main img{
  width:50%;
}

.logo-section{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
}
.logo-img{
  width:33%;
  /*border: 2px solid #ddd;*/
  display:flex;
  justify-content: center;
  align-items: center;
}

main img.websites{
  border: 2px solid #ddd;
  border-radius:5px;
  padding:5px;
  min-width:300px;
  max-height:175px;
  margin-left: 50px;
  margin-bottom: 8px;
  margin-top: 0px;
}

main p{
  width: 40%;
  color:#000000;
}

main h2{
  font-family: 'Comfortaa', cursive;
  color: #000000;
  text-align:center;
}

h2.center{
  font-family: 'Comfortaa', cursive;
  text-align: center;
}
main h3{
  font-family: 'Comfortaa', cursive;
  color:#000000;
  weight:bold;
}

.feature-text{
  display:flex;
  justify-content: center;
  align-items: center;
}
div #portfolio-div{
  background-color: #84B59F;
}
/*******ABOUT**********/
.about-section{
  /*height:300px;*/
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:row;
}

.about-section h2{
  width:100%;
  font-size:2em;
}

.about-text{
  width:50%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.about-img{
  display:flex;
  justify-content: center;
  width:50%;
}

.about-section span{
  font-family: 'Kavivanar', cursive;
  font-size: 1.825em;
}


img.circle-box{
  width: 50%;
  /*margin-top:10px;*/
  padding-bottom: 10%;
  border-radius: 50%;
  border: 14px solid #50808E;
}

/*******FOOTER********/
footer{
  color:#00264d;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-flow:row wrap;
  background-color: #50808E
}

footer .content-wrapper{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:40px;
}

.social-media{
  dispaly:flex;
  justify-content: center;
  align-items: center;
}

footer ul li{
  display: inline-block;
  padding: 20px;
}

footer img.icon{
  height: 50px;
  width: 50px;
}

.copyright{
  width:100%;
  display:flex;
  justify-content: center;
}

/****Tablet*****/
@media screen and (min-width:780px){
    .hero-area{

    }
  }

/*****Desktop*****/
@media screen and (min-width:1200px){
  main img{
    width:50%;
  }
}
